In [571]:
import pandas as pd
import numpy as np

### Importando as tabelas:

In [572]:
stress_data = pd.read_csv("..\\assets\\data\\Student Stress Factors.csv")

In [573]:
performance_data = pd.read_csv("..\\assets\\data\\Student_Performance.csv")

### Info das tabelas

In [574]:
stress_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sleep Quality                        520 non-null    int64
 1   suffer headaches                     520 non-null    int64
 2   academic performance                 520 non-null    int64
 3   study load                           520 non-null    int64
 4   practice extracurricular activities  520 non-null    int64
 5   stress levels                        520 non-null    int64
dtypes: int64(6)
memory usage: 24.5 KB

In [575]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [576]:
stress_data.describe()

,Sleep Quality,suffer headaches,academic performance,study load,practice extracurricular activities,stress levels
count,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000
mean,3.125000,2.182692,3.326923,2.750000,2.682692,2.875000
std,1.099023,1.247459,1.061158,1.372381,1.470745,1.357825
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,3.000000,2.000000,1.000000,2.000000
50%,3.000000,2.000000,3.000000,2.500000,3.000000,3.000000
75%,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [577]:
performance_data.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

### Retirada de colunas

In [578]:
performance_data.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [579]:
performance_data =performance_data.drop(['Previous Scores'], axis=1)

In [580]:
performance_data.columns

Index(['Hours Studied', 'Extracurricular Activities', 'Sleep Hours',
       'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [581]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Extracurricular Activities        10000 non-null  object
 2   Sleep Hours                       10000 non-null  int64
 3   Sample Question Papers Practiced  10000 non-null  int64
 4   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 390.8+ KB

### Troca de tipos

#### Performance Index

In [582]:
performance_data['Performance Index'] = performance_data['Performance Index'].astype('int64')

In [583]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Extracurricular Activities        10000 non-null  object
 2   Sleep Hours                       10000 non-null  int64
 3   Sample Question Papers Practiced  10000 non-null  int64
 4   Performance Index                 10000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 390.8+ KB

In [584]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,Yes,9,1,91
1,4,No,4,2,65
2,8,Yes,7,2,45
3,5,Yes,5,2,36
4,7,No,8,5,66

In [585]:
performance_data.describe()

,Hours Studied,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,6.530600,4.583300,55.224800
std,2.589309,1.695863,2.867348,19.212558
min,1.000000,4.000000,0.000000,10.000000
25%,3.000000,5.000000,2.000000,40.000000
50%,5.000000,7.000000,5.000000,55.000000
75%,7.000000,8.000000,7.000000,71.000000
max,9.000000,9.000000,9.000000,100.000000

#### Extracurricular Activities

In [586]:
performance_data.loc[performance_data['Extracurricular Activities'] == 'Yes', 'Extracurricular Activities'] = 1

In [587]:
performance_data.loc[performance_data['Extracurricular Activities'] == 'No', 'Extracurricular Activities'] = 0

In [588]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,1,9,1,91
1,4,0,4,2,65
2,8,1,7,2,45
3,5,1,5,2,36
4,7,0,8,5,66

In [589]:
performance_data['Extracurricular Activities'] = performance_data['Extracurricular Activities'].astype(bool)

In [590]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Extracurricular Activities        10000 non-null  bool
 2   Sleep Hours                       10000 non-null  int64
 3   Sample Question Papers Practiced  10000 non-null  int64
 4   Performance Index                 10000 non-null  int64
dtypes: bool(1), int64(4)
memory usage: 322.4 KB

In [591]:
performance_data.describe()

,Hours Studied,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,6.530600,4.583300,55.224800
std,2.589309,1.695863,2.867348,19.212558
min,1.000000,4.000000,0.000000,10.000000
25%,3.000000,5.000000,2.000000,40.000000
50%,5.000000,7.000000,5.000000,55.000000
75%,7.000000,8.000000,7.000000,71.000000
max,9.000000,9.000000,9.000000,100.000000

### Salvando tabela

#### Salvando alterações feitas até aqui

In [592]:
performance_data.to_csv("..\\assets\\data\\performance_data_converted.csv", index=False)

### Criação de Faixas

In [593]:
performance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Extracurricular Activities        10000 non-null  bool
 2   Sleep Hours                       10000 non-null  int64
 3   Sample Question Papers Practiced  10000 non-null  int64
 4   Performance Index                 10000 non-null  int64
dtypes: bool(1), int64(4)
memory usage: 322.4 KB

In [594]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,True,9,1,91
1,4,False,4,2,65
2,8,True,7,2,45
3,5,True,5,2,36
4,7,False,8,5,66

#### Hours Studied

In [595]:
tempo_estudo = {1:1, 2:1, 3:1, 4:2, 5:2, 6:2, 7:3, 8:3, 9:3}
performance_data['Hours Studied'] = performance_data['Hours Studied'].map(tempo_estudo)

In [596]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,3,True,9,1,91
1,2,False,4,2,65
2,3,True,7,2,45
3,2,True,5,2,36
4,3,False,8,5,66

#### Sleep Hours

In [597]:
faixas_sono = {4:1, 5:1, 6:2, 7:2, 8:3, 9:3}
performance_data['Sleep Hours'] = performance_data['Sleep Hours'].map(faixas_sono)

In [598]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,3,True,3,1,91
1,2,False,1,2,65
2,3,True,2,2,45
3,2,True,1,2,36
4,3,False,3,5,66

#### Sample Question Papers Practiced

In [599]:
question_papers = {0:1, 1:1, 2:1, 3:1, 4:2, 5:2, 6:2, 7:3, 8:3, 9:3}
performance_data['Sample Question Papers Practiced'] = performance_data['Sample Question Papers Practiced'].map(question_papers)

In [600]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,3,True,3,1,91
1,2,False,1,1,65
2,3,True,2,1,45
3,2,True,1,1,36
4,3,False,3,2,66

#### Performance Index

In [601]:
performance_data.loc[performance_data['Performance Index'] <= 40, 'Performance Index'] = 1
performance_data.loc[(performance_data['Performance Index'] > 40) & (performance_data['Performance Index'] <= 70), 'Performance Index'] = 2
performance_data.loc[performance_data['Performance Index'] > 70, 'Performance Index'] = 3

In [602]:
performance_data.head()

,Hours Studied,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,3,True,3,1,3
1,2,False,1,1,2
2,3,True,2,1,2
3,2,True,1,1,1
4,3,False,3,2,2

#### Salvando

In [603]:
performance_data.to_csv("..\\assets\\data\\performance_data_converted_por_faixas.csv", index=False)